body {
  background-color: #dcaea9;
  font-family:Arial, Helvetica, sans-serif;
}

#mainheader {
  color: red;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
}

#head {
  font-size: 2em;
}

.container-para {
  color:purple;
  font-size: 20px;
}

.main-nav {
  font-size: 25px;
  margin: 20px;
  font-weight: 1000;
  color: red;
  text-align: center;
  text-decoration:none ;
  background-color:#f2f2f2 ;
  padding: 10px;
  width:95%;
}

.text {
  font-style: Sans-serif;
  font-size: 20px;
}

#noticebox {
  font-size: 20px;
  font-style: italic;
}

#heading {
  font-size: 2em;
}

.student-img {
  outline: 1px solid black;
  border: 2px solid blue;
  border-radius: 10%;
}

h3 {
  font-size: 20px;
  color: darkred;
  font-style: inherit;
}

#studentTable {
  margin: 10px;
  background: white;
  border: 3px solid black;
  width: 40%;
  height: 20%;
  font-size: 18px;
}

h2 {
  font-size: 2em;
}

.Register-form {
  font-size: 20px;
  padding: 20px;
  width: 40%;
  margin: 10px;
  border: 3px solid black;
  background-color: aliceblue;
}

.btn-container {
  text-align: center;
  color: rgb(0, 255, 0);
  padding: 5px;
  font-size: 20px;
}

Video, Audio{
  margin:20px auto;
}
